html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--second-family);
  color: var(--colors-white);
  background: var(--background-primary);
  line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.section-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.15;
  text-align: center;
  color: var(--colors-white);
}

.section-title-content {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: var(--colors-white);
}

.section-title-description {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pop-up-purple-primary);
}

@media (min-width: 1440px) {
  .section-title {
    font-size: 64px;
    line-height: 1.06;
  }

  .section-title-description {
    font-size: 24px;
  }
}
*/ .button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/* .button:hover,
.button:focus {
} */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
