.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 0 24px;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 72px 0;
  }
  .section {
    padding: 0 80px;
  }
}
