@media screen and (min-width: 1440px) {
  .section-title.adv {
    position: absolute;
    margin-left: 270px;
  }

  .advantages-item {
    box-shadow: 8px 8px 16px 4px #111220;
    background: var(--background-secondary);
    border-radius: 24px;
    padding: 24px;
  }
  .adv-row {
    display: flex;
    width: 1185px;
    gap: 25px;
    margin-bottom: 24px;
  }
  .adv-row.top-row {
    width: 1184px;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .adv-row.bottom-row {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .advantages-uppercase {
    color: var(--colors-white);
  }

  .advantages-item {
    width: 330px;
    height: 176px;
  }

  #adv-block3 {
    width: 194px;
    height: 300px;
  }

  #adv-block6 {
    width: 195px;
    height: 336px;
  }
}
