.gallery-section {
  background-image: radial-gradient(
    114.27% 45.13% at 95.25% 50.96%,
    rgb(69, 79, 189) 0%,
    rgb(48, 52, 102) 40.50000011920929%,
    rgb(40, 40, 75) 74.00000095367432%,
    rgb(35, 36, 56) 100%
  );

  @media screen and (min-width: 1440px) {
    padding-top: 160px;
    padding-bottom: 0;
    background-image: radial-gradient(
      97.91% 41.27% at 73.88% 48.8%,
      rgb(69, 79, 189) 0%,
      rgb(48, 52, 102) 40.50000011920929%,
      rgb(40, 40, 75) 74.00000095367432%,
      rgb(35, 36, 56) 100%
    );
  }
}

.gallery-section-title {
  font-family: 'Mitr', sans-serif;
  font-size: 32px;
  line-height: 1.35;
  text-align: center;
  color: #d8d9e7;
  margin-bottom: 16px;

  @media screen and (min-width: 1440px) {
    font-size: 64px;
    line-height: 1.06;
    margin-bottom: 24px;
  }
}

.gallery-container {
  overflow: hidden;
}

.gallery-info-thumb {
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 635px;

    & > .gallery-info {
      text-align: left;
    }
  }
}

.gallery-info {
  font-family: 'Molengo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #a0a9f8;
  margin-bottom: 16px;

  @media screen and (min-width: 1440px) {
    font-size: 24px;
    line-height: 1.35;
    margin-bottom: 0px;
  }
}

.gallery-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 313px;

  @media screen and (min-width: 1440px) {
    height: 1190px;
    margin-top: -200px;
    margin-left: 110px;
  }

  @media screen and (min-width: 1445px) {
    margin-top: -100px;
    margin-left: -30px;
  }

  @media screen and (min-width: 325px) and (max-width: 1439px) {
    margin-left: -30px;
  }
}

.gallery-item {
  position: absolute;
  transform: rotate(25deg);
  cursor: pointer;

  &:nth-child(1) {
    top: 57px;
    left: 50px;
  }

  &:nth-child(2) {
    top: 36px;
    left: 130px;
  }

  &:nth-child(3) {
    top: 3px;
    left: 216px;
  }

  &:nth-child(4) {
    top: 127px;
    left: 157px;
  }

  &:nth-child(5) {
    top: 103px;
    left: 240px;
  }

  @media screen and (min-width: 1440px) {
    &:nth-child(1) {
      top: 272px;
      left: 194px;
    }

    &:nth-child(2) {
      top: 181px;
      left: 530px;
    }

    &:nth-child(3) {
      top: 30px;
      left: 892px;
    }

    &:nth-child(4) {
      top: 545px;
      left: 650px;
    }

    &:nth-child(5) {
      top: 400px;
      left: 1010px;
    }
  }
}

.gallery-image {
  width: 60px;
  height: 133px;
  border-radius: 8px;
  box-shadow: 4px 4px 7px 4px #111320;

  @media screen and (min-width: 1440px) {
    width: 248px;
    height: 550px;
    border-radius: 24px;
    box-shadow: 24px 40px 40px 4px #13131e;
  }
}
