.slider-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(20px);
  background: rgba(21, 22, 35, 0.5);
}

.slider-container {
  width: 90vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  @media (min-width: 1440px) {
    width: 700px;
  }
}

.slider-image {
  width: 240px;
  display: block;
  height: auto;
  border-radius: 55px;
  box-shadow: 4px 4px 7px 4px #111320;

  @media (min-width: 1440px) {
    width: 360px;

    box-shadow: 24px 40px 40px 4px #13131e;
  }
}

.gallery-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 20px;

  @media (min-width: 1440px) {
    padding: 60px;
  }
}

.swiper-button-next {
  display: none !important;

  @media (min-width: 1440px) {
    display: flex !important;
    width: 86px !important;
    height: 86px !important;
    border-radius: 100% !important;
    color: transparent !important;
    background-image: url(../../images/next.svg);
    background-repeat: no-repeat;

    &:hover {
      background-image: url(../../images/next-button-hover.svg);
    }

    &:focus {
      background-image: url(../../images/next-button-focus.svg);
    }
  }
}

.swiper-button-prev {
  display: none !important;

  @media (min-width: 1440px) {
    display: flex !important;
    width: 86px !important;
    height: 86px !important;
    border-radius: 100% !important;
    color: transparent !important;
    background-image: url(../../images/prev.svg);
    background-repeat: no-repeat;

    &:hover {
      background-image: url(../../images/prev-button-hover.svg);
    }

    &:focus {
      background-image: url(../../images/prev-button-focus.svg);
    }
  }
}

/* background-image: url(../../images/prev.svg);
  background-repeat: no-repeat; */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.modal-container {
  position: absolute;
  display: flex;

  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 90vh;
  padding: 40px;
  left: 50%;
  top: 50%;
  border-radius: 30px;

}

.slider-container {
  width: 355px;
 
  overflow: hidden;
}

.slider-line {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 20px;
 
  width: 1775px;
  left: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider-image {
  display: block;
  width: 355px;
  height: auto;
} */

/* 

.sl-overlay {
  backdrop-filter: blur(20px);
  background: rgba(21, 22, 35, 0.5) !important;
  opacity: 1 !important;
}

.sl-wrapper .sl-image img {
  border-radius: 24px;
  box-shadow: 4px 4px 7px 4px #111320;

  @media (min-width: 1440px) {
    border-radius: 55px;
    box-shadow: 24px 40px 40px 4px #13131e;
  }
}

.sl-wrapper .sl-navigation {
  display: none !important;

  @media (min-width: 1440px) {
    display: block !important;
  }
}

.sl-wrapper .sl-navigation button {
  @media (min-width: 1440px) {
    display: flex !important;
    width: 86px !important;
    height: 86px !important;
    border-radius: 100% !important;
    color: transparent !important;
  }
}

.sl-wrapper .sl-navigation button.sl-next {
  background-image: url(../../images/next.svg);
  background-repeat: no-repeat;
  margin-right: 350px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-image: url(../../images/next-button-hover.svg);
  }

  &:focus {
    background-image: url(../../images/next-button-focus.svg);
  }
}

.sl-wrapper .sl-navigation button.sl-prev {
  background-image: url(../../images/prev.svg);
  background-repeat: no-repeat;
  margin-left: 350px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-image: url(../../images/prev-button-hover.svg);
  }

  &:focus {
    background-image: url(../../images/prev-button-focus.svg);
  }
} */

/* .sl-wrapper {
  .sl-navigation {
    button {
      display: none;

      @media (min-width: 1440px) {
        display: flex !important;
        width: 86px !important;
        height: 86px !important;
        border-radius: 100%;
      }

      .sl-next {
        background-image: url(../../images/next.svg) !important;
        background-repeat: no-repeat;
        margin-right: 350px;
        transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          background-image: url(../../images/next-button-hover.svg);
        }

        &:focus {
          background-image: url(../../images/next-button-focus.svg);
        }
      }

      .sl-prev {
        background-image: url(../../images/prev.svg);
        background-repeat: no-repeat;
        margin-left: 350px;
        transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          background-image: url(../../images/prev-button-hover.svg);
        }

        &:focus {
          background-image: url(../../images/prev-button-focus.svg);
        }
      }
    }
  }

  .sl-image {
    img {
      border-radius: 24px !important;
      box-shadow: 4px 4px 7px 4px #111320 !important;

      @media (min-width: 1440px) {
        border-radius: 55px !important;
        box-shadow: 24px 40px 40px 4px #13131e !important;
      }
    }
  }
} */
