.header-section {
  position: relative;
  padding-top: 16px;
  padding-bottom: 8px;
  background-color: var(--background-primary-color);

  @media screen and (min-width: 1440px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-container {
  position: relative;
  padding: 0 16px;

  @media screen and (min-width: 1440px) {
    padding: 0 72px;
  }
}

.header-thumb {
  display: flex;
  padding: 4px 8px;
  background-color: var(--background-secondary-color);
  border-radius: 16px;
  margin-left: 64px;
}

@media screen and (min-width: 1440px) {
  .header-thumb {
    margin-left: 110px;
    padding: 19px 40px;
    border-radius: 24px;
  }
}

.is-scrolling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.main-navigation {
  display: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 16px;
}

@media screen and (min-width: 1440px) {
  .logo {
    left: 72px;
  }
}

@media screen and (min-width: 1440px) {
  .main-navigation {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .site-nav {
    display: flex;
    justify-content: center;
    background: var(--background-secondary-color);
    border-radius: 24px;
    width: 100%;
  }

  .nav-link {
    display: block;
    position: relative;
    font-family: var(--title-font-family);
    font-size: 24px;
    line-height: 1.3;
    color: var(--title-primary-color);
    padding: 8px 4px;
    transition: background-color var(--hover-transition);
  }

  .nav-link:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--subtitle-color);
    border-radius: 888px;
  }

  .nav-item {
    &:not(:last-child) {
      margin-right: 47px;
    }
  }
}

.logo-icon {
  width: 56px;
  height: 56px;
}

@media screen and (min-width: 1440px) {
  .logo-icon {
    width: 86px;
    height: 86px;
  }
}

.mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  width: 48px;
  height: 48px;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  fill: var(--title-primary-color);

  &:hover > svg {
    fill: var(--subtitle-color);
  }
}

@media screen and (min-width: 1440px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-icon {
  width: 48px;
  height: 48px;
  transition: fill var(--hover-transition);
}

.mobile-menu-backdrop {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background: var(--modal-overlay-background);
}

.show-mobile-menu {
  display: block;
  animation-duration: 400ms;
  animation-name: slideinBottom;
  z-index: 500;
}

@keyframes slideinBottom {
  from {
    height: 70%;
  }
  to {
    height: 100%;
  }
}

.mobile-menu {
  position: fixed;
  top: 15px;
  right: 15px;
  left: 80px;
  bottom: 15px;
}

.mobile-menu-thumb {
  position: relative;
  height: 100%;
  display: flex;
  text-align: right;
  justify-content: right;
  margin-left: auto;
  background-color: var(--background-secondary-color);
  border-radius: 16px;
  padding: 4px 8px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 4px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  width: 48px;
  height: 48px;
  background-color: transparent;
  cursor: pointer;

  &:hover > svg {
    fill: var(--subtitle-color);
  }
}

.close-icon {
  width: 48px;
  height: 48px;
  fill: var(--title-primary-color);
  transition: fill var(--hover-transition);
}

.mobile-menu-nav {
  margin-top: auto;
  padding: 12px;
}

.mobile-nav-item {
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.mobile-nav-link {
  position: relative;
  padding: 4px 4px;
  font-family: 'Mitr', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: var(--title-primary-color);
  transition: background-color var(--hover-transition);

  &:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--subtitle-color);
    border-radius: 888px;
  }
}

.active-nav-link {
  color: var(--content-text-color);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--content-text-color);
    border-radius: 888px;
    transition: opacity 250ms var(--animation-function);
  }
}

.mobile-menu-icon {
  width: 48px;
  height: 48px;
}
