.how-play-section {
  padding-top: 80px;

  @media screen and (min-width: 1440px) {
    padding-top: 160px;
    padding-bottom: 0;
  }
}

.how-play-container {
  @media screen and (min-width: 1440px) {
    padding: 0 181px;
  }
}

.how-play-section-title {
  font-family: var(--title-font-family);
  font-size: 32px;
  text-align: center;
  color: var(--title-primary-color);
  margin-bottom: 16px;
  letter-spacing: 0.02em;

  @media screen and (min-width: 1440px) {
    font-size: 64px;
    line-height: 1.06;
    margin-bottom: 77px;
  }
}

.rules-icon {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: drop-shadow(8px 16px 10px #111220);

  @media screen and (min-width: 1440px) {
    width: 206px;
    height: 206px;
  }
}

.rules-item {
  display: flex;
  width: 100%;
  position: relative;
  text-align: right;

  &:nth-child(odd) {
    & > .rules-icon {
      bottom: 0;
    }
  }

  &:nth-child(3) {
    & > .rules-icon {
      top: 0;
    }
  }

  &:nth-child(7) {
    & > .rules-icon {
      top: -20px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &:nth-child(even) {
    text-align: left;

    & > .rules-info {
      margin-left: 0;
      padding: 16px 18px 16px 16px;
    }

    & > .rules-icon {
      bottom: 0;
      right: 0;
      left: auto;
    }
  }

  &:nth-child(2) {
    & > .rules-icon {
      top: -18px;
    }
  }

  &:nth-child(4) {
    & > .rules-icon {
      top: -40px;
    }
  }

  &:nth-child(6) {
    & > .rules-icon {
      bottom: -16px;
    }
  }

  @media screen and (min-width: 1440px) {
    &:not(:last-child) {
      margin-bottom: 64px;
    }

    &:nth-child(odd) {
      & > .rules-icon {
        bottom: 0;
      }
    }

    &:nth-child(even) {
      & > .rules-info {
        margin-left: 330px;
        padding: 16px 120px 16px 24px;
      }

      & > .rules-icon {
        left: auto;
      }
    }
    /* 
    &:nth-child(1) {
      & > .rules-icon {
        top: -55px;
        left: 25px;
      }
    } */

    &:nth-child(3),
    &:nth-child(7) {
      & > .rules-info {
        margin-left: 220px;
      }

      & > .rules-icon {
        left: 120px;
      }
    }

    &:nth-child(3) {
      & > .rules-icon {
        bottom: 0;
        top: auto;
      }
    }

    &:nth-child(5),
    &:nth-child(7) {
      & > .rules-icon {
        bottom: -50px;
        top: -50px;
      }
    }

    &:nth-child(4) {
      & > .rules-info {
        margin-left: 552px;
      }

      & > .rules-icon {
        right: -72px;
        top: -10px;
      }
    }

    &:nth-child(2),
    &:nth-child(6) {
      & > .rules-icon {
        right: 150px;
        top: -50px;
        bottom: -50px;
      }
    }

    &:nth-child(8) {
      & > .rules-icon {
        right: 150px;
        top: -30px;
      }
    }

    /* &:nth-child(2),
    &:nth-child(6),
    &:nth-child(8) {
      & > .rules-icon {
       
        right: 150px;
      }
    } */
  }
}

.rules-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-primary-color);
  width: 214px;
  border-radius: 16px;
  padding: 16px 16px 16px 29px;
  box-shadow: var(--box-shadow-main);
  background-color: var(--background-secondary-color);
  margin-left: auto;
  letter-spacing: 0.02em;

  @media screen and (min-width: 1440px) {
    width: 514px;
    font-size: 24px;
    padding: 16px 24px 16px 120px;
    margin-left: 109px;
    line-height: 1.35;
  }
}

.special-position {
  display: block;

  @media screen and (min-width: 1440px) {
    display: inline;
  }
}
