<section class="about-section" id="about">
  <div class="container about-container">
    <div class="about-container-thumb">
      <div class="about-thumb-content">
        <h2 class="about-section-title">About the Game</h2>
        <p class="about-info">
          Explore the realms of mental fitness with our comprehensive suite of
          brain games and puzzles.
        </p>
        <p class="about-info">
          Each game is meticulously crafted to target different aspects of
          cognitive functions, including
        </p>
        <ul class="aspects-list">
          <li class="aspects-item">
            <svg>
              <use href="./images/sprite.svg#star"></use>
            </svg>
            <p class="aspects-name">Memory</p>
          </li>
          <li class="aspects-item">
            <svg>
              <use href="./images/sprite.svg#star"></use>
            </svg>
            <p class="aspects-name">Problem-solving</p>
          </li>
          <li class="aspects-item">
            <svg>
              <use href="./images/sprite.svg#star"></use>
            </svg>
            <p class="aspects-name">Attention</p>
          </li>
          <li class="aspects-item">
            <svg>
              <use href="./images/sprite.svg#star"></use>
            </svg>
            <p class="aspects-name">Logical thinking</p>
          </li>
        </ul>
        <img
          class="about-image"
          srcset="
            ./images/about/game-preview-@1x.png 1x,
            ./images/about/game-preview-@2x.png 2x
          "
          src="./images/about/game-preview-@1x.png"
          alt="game attributes"
        />
        <p class="about-info">
          From classic jigsaw puzzles and word games to innovative brain teasers
          and logic puzzles, our platform offers an extensive variety to cater
          to all ages and skill levels.
        </p>
        <p class="about-info">
          Engage in daily challenges to keep your mind active, track your
          progress with insightful statistics, and push your cognitive abilities
          to new heights with progressively challenging levels.
        </p>
      </div>
    </div>
  </div>
</section>
