<section class="section advantages" id="advantages">
  <div class="container">
    <h2 class="section-title">Advantages</h2>
    <div class="advantages-wrap">
      <ul class="advantages-list">
        <li class="advantages-item">
          <p class="section-title-description">
            <span class="advantages-uppercase"
              >COMPREHENSIVE BRAIN TRAINING</span
            >
            to enhance cognitive functions
          </p>
        </li>
        <li class="advantages-item">
          <p class="section-title-description">
            WIDE RANGE OF PUZZLES that cater to all age groups and skill levels
          </p>
        </li>
        <li class="advantages-item">
          <p class="section-title-description">
            REGULAR UPDATES with new and exciting games to maintain engagement
          </p>
        </li>
        <li class="advantages-item">
          <p class="section-title-description">
            USER-FRIENDLY INTERFACE suitable for all users
          </p>
        </li>
        <li class="advantages-item">
          <p class="section-title-description">
            ANALYTICAL TOOLS to track progress and identify areas for
            improvement
          </p>
        </li>
        <li class="advantages-item">
          <p class="section-title-description">
            CHALLENGES AND LEADEBOARDS to foster a competitive spirit
          </p>
        </li>
        <li class="advantages-item">
          <p class="section-title-description">
            Option to PLAY OFFLINE, enabling you to sharpen your mind anywhere,
            anytime
          </p>
        </li>
        <li class="advantages-item">
          <p class="section-title-description">
            FOCUS ON MENTAL WELLNESS with games designed to relieve stress and
            improve focus
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
