<section class="section advantages" id="advantages">
  <div class="container">
    <h2 class="section-title">Advantages</h2>
    <div class="advantages-wrap">
      <ul class="advantages-list">
        <div class="row top-row">
          <li class="advantages-item">
            <p class="section-title-description">
              <span class="advantages-uppercase"
                >COMPREHENSIVE BRAIN TRAINING</span
              >
              to enhance cognitive functions
            </p>
          </li>
          <li class="advantages-item">
            <p class="section-title-description">
              <span class="advantages-uppercase">WIDE RANGE OF PUZZLES</span>
              that cater to all age groups and skill levels
            </p>
          </li>
          <li class="advantages-item special">
            <p class="section-title-description">
              <span class="advantages-uppercase">REGULAR UPDATES</span> with new
              and exciting games to maintain engagement
            </p>
          </li>
          <li class="advantages-item">
            <p class="section-title-description">
              <span class="advantages-uppercase">USER-FRIENDLY INTERFACE</span>
              suitable for all users
            </p>
          </li>
        </div>
        <div class="row bottom-row">
          <li class="advantages-item">
            <p class="section-title-description">
              <span class="advantages-uppercase">ANALYTICAL TOOLS</span> to
              track progress and identify areas for improvement
            </p>
          </li>
          <li class="advantages-item">
            <p class="section-title-description">
              <span class="advantages-uppercase"
                >CHALLENGES AND LEADEBOARDS</span
              >
              to foster a competitive spirit
            </p>
          </li>
          <li class="advantages-item special">
            <p class="section-title-description">
              Option to <span class="advantages-uppercase">PLAY OFFLINE</span>,
              enabling you to sharpen your mind anywhere, anytime
            </p>
          </li>
          <li class="advantages-item">
            <p class="section-title-description">
              <span class="advantages-uppercase">FOCUS ON MENTAL WELLNESS</span>
              with games designed to relieve stress and improve focus
            </p>
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
