<section class="benefits-section">
  <div class="container benefits-container">
    <h2 class="benefits-section-title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="benefits-icon">
          <use href="../images/sprite.svg#stars"></use>
        </svg>
        <div class="benefits-info-thumb">
          <h3 class="benefits-title">4,8</h3>
          <p class="benefits-info">Stars</p>
        </div>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon">
          <use href="../images/sprite.svg#downloads"></use>
        </svg>
        <div class="benefits-info-thumb">
          <h3 class="benefits-title">50 000+</h3>
          <p class="benefits-info">Downloads</p>
        </div>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon">
          <use href="../images/sprite.svg#reviews"></use>
        </svg>
        <div class="benefits-info-thumb">
          <h3 class="benefits-title">1 000+</h3>
          <p class="benefits-info">Reviews</p>
        </div>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon">
          <use href="../images/sprite.svg#connect"></use>
        </svg>
        <div class="benefits-info-thumb">
          <h3 class="benefits-title">Online/<br />Offline</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
