<section class="section faq" id="faq">
  <div class="container">
    <h2 class="section-title faq">FAQ</h2>
    <div class="faq-wrap">
      <ul class="faq-list">
        <ul class="faq-row top-row">
          <li class="faq-item" id="faq-block1">
            <h3 class="faq-number">How often are new games added?</h3>
            <svg class="faq-icon">
              <use href="./images/line.svg#line"></use>
            </svg>
            <p class="section-title-description faq">
              New games and puzzles are added monthly.
            </p>
          </li>
          <li class="faq-item" id="faq-block2">
            <h3 class="faq-number">How can I track my improvement?</h3>
            <svg class="faq-icon">
              <use href="./images/line.svg#line"></use>
            </svg>
            <p class="section-title-description faq">
              Use the built-in statistics feature to monitor your progress.
            </p>
          </li>
          <li class="faq-item" id="faq-block3">
            <h3 class="faq-number">Can I play without internet?</h3>
            <svg class="faq-icon">
              <use href="./images/line.svg#line"></use>
            </svg>
            <p class="section-title-description faq">
              Yes, most games are available offline.
            </p>
          </li>
        </ul>
        <ul class="faq-row bottom-row">
          <li class="faq-item" id="faq-block4">
            <h3 class="faq-number">Are there any age restrictions?</h3>
            <svg class="faq-icon">
              <use href="./images/line.svg#line"></use>
            </svg>
            <p class="section-title-description faq">
              No, our games are designed for all ages.
            </p>
          </li>
          <li class="faq-item" id="faq-block5">
            <h3 class="faq-number">Is there a subscription fee?</h3>
            <svg class="faq-icon">
              <use href="./images/line.svg#line"></use>
            </svg>
            <p class="section-title-description faq">
              No, the game is free to play with optional in-app purchases.
            </p>
          </li>
          <li class="faq-item" id="faq-block6">
            <h3 class="faq-number">What if I find a game too difficult?</h3>
            <svg class="faq-icon">
              <use href="./images/line.svg#line"></use>
            </svg>
            <p class="section-title-description faq">
              You can adjust the difficulty settings or use hints available in
              the game.
            </p>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</section>
