<footer class="footer-section" id="footer">
  <div class="footer-container">
    <div class="footer-thumb">
      <div class="footer-thumb-container">
        <div class="links-thumb">
          <a class="logo-link" href="./index.html">
            <img
              class="logo-image"
              src="./images/logo/logo-@1x.png"
              alt="logo image"
            />
            Super Brain Plus
          </a>
          <div class="link-pages-list">
            <a
              data-id="privasy"
              aria-label="Privacy policy"
              href="./privacy.html"
              >Privacy policy</a
            >
            /
            <a
              data-id="terms"
              aria-label="Terms and conditions"
              href="./terms.html"
              >Terms and conditions</a
            >
          </div>
        </div>
        <div class="info-thumb">
          <p class="footer-info">
            <span>All rights reserved </span>joincoolhub.com | 2024
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
