<section class="section gallery-section">
  <div class="container gallery-container">
    <h2 class="gallery-section-title">Gallery</h2>
    <p class="gallery-info">
      Unleash your cognitive potential and redefine your problem-solving skills
      with a diverse array of mind-bending puzzles and brain teasers designed to
      challenge, entertain, and sharpen your mental agility.
    </p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./images/screens/screen-1.jpg"
          alt="game screen"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./images/screens/screen-2.jpg"
          alt="game screen"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./images/screens/screen-3.jpg"
          alt="game screen"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./images/screens/screen-4.jpg"
          alt="game screen"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./images/screens/screen-5.jpg"
          alt="game screen"
        />
      </li>
    </ul>
  </div>
</section>
