<section class="section gallery-section" id="gallery">
  <div class="container gallery-container">
    <div class="gallery-info-thumb">
      <h2 class="gallery-section-title">Gallery</h2>
      <p class="gallery-info">
        Unleash your cognitive potential and redefine your problem-solving
        skills with a diverse array of mind-bending puzzles and brain teasers
        designed to challenge, entertain, and sharpen your mental agility.
      </p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <a href="./images/screens/screen-1.jpg">
          <img
            class="gallery-image"
            srcset="
              ./images/screens/screen-1.jpg     1x,
              ./images/screens/screen-1-@2x.jpg 2x
            "
            src="./images/screens/screen-1.jpg"
            loading="lazy"
            alt="game screen"
          />
        </a>
      </li>
      <li class="gallery-item">
        <a href="./images/screens/screen-2.jpg">
          <img
            class="gallery-image"
            src="./images/screens/screen-2.jpg"
            loading="lazy"
            alt="game screen"
          />
        </a>
      </li>
      <li class="gallery-item">
        <a href="./images/screens/screen-3.jpg">
          <img
            class="gallery-image"
            src="./images/screens/screen-3.jpg"
            loading="lazy"
            alt="game screen"
          />
        </a>
      </li>
      <li class="gallery-item">
        <a href="./images/screens/screen-4.jpg">
          <img
            class="gallery-image"
            src="./images/screens/screen-4.jpg"
            loading="lazy"
            alt="game screen"
          />
        </a>
      </li>
      <li class="gallery-item">
        <a href="./images/screens/screen-5.jpg">
          <img
            class="gallery-image"
            src="./images/screens/screen-5.jpg"
            loading="lazy"
            alt="game screen"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
