<header class="header-section js-header">
  <div class="container header-container">
    <a aria-label="Index" class="logo" href=""
      ><img
        class="logo-icon"
        srcset="./images/logo/logo-@1x.png 1x, ./images/logo/logo-@2x.png 2x"
        src="../images/logo/logo-@1x.png"
        alt="Logo"
    /></a>
    <nav class="main-navigation">
      <ul class="site-nav">
        <li class="nav-item">
          <a aria-label="Home" class="nav-link current" href="./index.html#home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a aria-label="FAQ" class="nav-link" href="#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a aria-label="Gallery" class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a aria-label="Benefits" class="nav-link" href="#benefits"
            >Benefits</a
          >
        </li>
        <li class="nav-item">
          <a aria-label="About the Game" class="nav-link" href="#about"
            >About the Game</a
          >
        </li>
        <li class="nav-item">
          <a aria-label="How to Play" class="nav-link" href="#play"
            >How to Play</a
          >
        </li>
        <li class="nav-item">
          <a aria-label="Advantages" class="nav-link" href="#advantages"
            >Advantages</a
          >
        </li>
      </ul>
    </nav>

    <!-- <button
      aria-label="Toggle Menu Button"
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-icon">
        <use href="./img/icons.svg#mobile-menu-icon"></use>
      </svg>
    </button> -->
  </div>
</header>
