<header class="header-section js-header">
  <div class="header-container">
    <div class="header-thumb">
      <a aria-label="Index" class="logo" href="./index.html"
        ><img
          class="logo-icon"
          srcset="./images/logo/logo-@1x.png 1x, ./images/logo/logo-@2x.png 2x"
          src="../images/logo/logo-@1x.png"
          alt="Logo"
      /></a>

      <nav class="main-navigation">
        <ul class="site-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              data-location="home"
              href="./index.html"
              aria-label="Home"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-location="faq"
              aria-label="FAQ"
              href="./index.html#faq"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-location="gallery"
              aria-label="Gallery"
              href="./index.html#gallery"
              >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-location="benefits"
              aria-label="Benefits"
              href="./index.html#benefits"
              >Benefits</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-location="about"
              aria-label="About the Game"
              href="./index.html#about"
              >About the Game</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-location="play"
              aria-label="How to Play"
              href="./index.html#play"
              >How to Play</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-location="advantages"
              aria-label="Advantages"
              href="./index.html#advantages"
              >Advantages</a
            >
          </li>
        </ul>
      </nav>
      <button
        class="mobile-menu-button"
        data-action="mobile-menu-open"
        aria-label="Toggle Menu Button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu-icon">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="mobile-menu-backdrop" data-id="mobile-menu">
    <div class="mobile-menu">
      <div class="mobile-menu-thumb">
        <button
          class="mobile-menu-close-btn"
          data-action="mobile-menu-close"
          type="button"
        >
          <svg class="close-icon">
            <use href="./images/sprite.svg#close"></use>
          </svg>
        </button>
        <nav class="mobile-menu-nav">
          <ul>
            <li class="mobile-nav-item">
              <a
                class="mobile-nav-link"
                data-location="home"
                href="./index.html"
                >Home</a
              >
            </li>
            <li class="mobile-nav-item">
              <a
                class="mobile-nav-link"
                data-location="faq"
                href="./index.html#faq"
                >FAQ</a
              >
            </li>
            <li class="mobile-nav-item">
              <a
                class="mobile-nav-link"
                data-location="gallery"
                href="./index.html#gallery"
                >Gallery</a
              >
            </li>
            <li class="mobile-nav-item">
              <a
                class="mobile-nav-link"
                data-location="benefits"
                href="./index.html#benefits"
                >Benefits</a
              >
            </li>
            <li class="mobile-nav-item">
              <a
                class="mobile-nav-link"
                data-location="about"
                href="./index.html#about"
                >About the Game</a
              >
            </li>
            <li class="mobile-nav-item">
              <a
                class="mobile-nav-link"
                data-location="play"
                href="./index.html#play"
                >How to Play</a
              >
            </li>
            <li class="mobile-nav-item">
              <a
                class="mobile-nav-link"
                data-location="advantages"
                href="./index.html#advantages"
                >Advantages</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
