<section class="hero-section">
  <div class="container hero-container">
    <img
      class="hero-icon"
      srcset="../images/hero/hero-@1x.png 1x, ../images/hero/hero-@2x.png 2x"
      src="../images/hero/hero-@1x.png"
      alt="mobile phone with a game on the screen"
    />
    <div class="hero-title-thumb">
      <h1 class="hero-title">Super Brain <span>Plus</span></h1>
      <a
        class="game-link"
        href="https://play.google.com/store/apps/details?id=com.free.puzzlegame.collection.puzzle"
        target="_blank"
        rel="noopener no-referrer"
      >
        <div></div>
      </a>
    </div>
  </div>
</section>
