<section class="how-play-section">
  <div class="container how-play-container">
    <h2 class="how-play-section-title">How to play</h2>
    <ul>
      <li class="rules-item">
        <svg>
          <use href="../images/sprite.svg#hand"></use>
        </svg>
        <p class="rules-info">
          Choose a game category that interests you — memory, attention,
          problem-solving, or flexibility
        </p>
      </li>
      <li class="rules-item">
        <svg>
          <use href="../images/sprite.svg#puzzle"></use>
        </svg>
        <p class="rules-info">
          Start with easier puzzles to understand basic mechanics
        </p>
      </li>
      <li class="rules-item">
        <svg>
          <use href="../images/sprite.svg#lamp"></use>
        </svg>
        <p class="rules-info">
          Use in-game hints if you get stuck on a particular challenge
        </p>
      </li>
      <li class="rules-item">
        <svg>
          <use href="../images/sprite.svg#replay"></use>
        </svg>
        <p class="rules-info">Aim to improve your scores by replaying levels</p>
      </li>
      <li class="rules-item">
        <svg>
          <use href="../images/sprite.svg#medal"></use>
        </svg>
        <p class="rules-info">
          Participate in daily challenges to earn extra points
        </p>
      </li>
      <li class="rules-item">
        <svg>
          <use href="../images/sprite.svg#flash"></use>
        </svg>
        <p class="rules-info">
          Track your progress through the game's analytics feature
        </p>
      </li>
      <li class="rules-item">
        <svg>
          <use href="../images/sprite.svg#gear"></use>
        </svg>
        <p class="rules-info">Adjust game difficulty as your skills improve</p>
      </li>
      <li class="rules-item">
        <svg>
          <use href="../images/sprite.svg#explorer"></use>
        </svg>
        <p class="rules-info">
          Explore new games added regularly to the collection to keep your brain
          engaged
        </p>
      </li>
    </ul>
  </div>
</section>
