@import url(base/variables.css);
@import url(base/common.css);
@import url(base/container.css);
@import url(layout/header.css);
@import url(layout/modal.css);
@import url(layout/footer.css);

.privacy-section-item {
  padding: 24px 0;
}
.section-title {
  padding-bottom: 16px;
}
.section-text > :last-child {
  margin: 0;
}
.section-text-item {
  margin-bottom: 32px;
}
.section-title-content {
  margin-bottom: 16px;
}
.section-rights > :last-child {
  margin-bottom: 0px;
}
.section-rights-item {
  margin-bottom: 32px;
}
.rights-title {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--pop-up-purple-primary);
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.3;
  color: var(--navigation-green-primary);
}

@media screen and (min-width: 1440px) {
  .privacy-section-container {
    max-width: 1076px;
  }
  .privacy-section > :first-child {
    margin-top: 16px;
  }
  .section-title-content {
    font-size: 48px;
    line-height: 1.06;
  }
  .rights-title {
    font-size: 32px;
    line-height: 1.3;
  }
  .privacy-section > :last-child {
    padding-bottom: 0px;
  }
}
