@import url(base/variables.css);
@import url(base/common.css);
@import url(base/container.css);
@import url(layout/header.css);
@import url(layout/modal.css);
@import url(layout/footer.css);

.section-title {
  margin-top: 24px;
  margin-bottom: 16px;
}
.terms-section > :not(:first-child) {
  padding: 24px 0;
}
.terms-section > :first-child {
  padding-bottom: 24px;
}
.section-title > :not(:first-child) {
  margin-bottom: 16px;
}
.section-title-description-list > :not(:last-child) {
  margin-bottom: 32px;
}
.section-title-content {
  margin-bottom: 16px;
}
.br {
  display: block;
  margin-bottom: 0;
}
.welcome {
  font-size: 20px;
  text-align: center;
  color: var(--subtitle-color);
  font-family: var(--title-font-family);
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (min-width: 1440px) {
  .section-title {
    font-size: 80px;
    margin-bottom: 40px;
  }
  .terms-section-container {
    max-width: 1250px;
  }
  .terms-section > :not(:first-child) {
    padding: 40px 0;
  }
  .terms-section > :first-child {
    padding-bottom: 40px;
  }
  .section-title-content {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .section-title-description-special {
    font-size: 24px;
  }
  .br.welcome {
    display: inline;
  }
  .welcome {
    font-size: 32px;
  }
}
